@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url('../pictures/plane.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Numans', sans-serif;
    color: #ffffff;
}

.container{
    align-content: center;
}

.card{
    background-color: rgba(0,0,0,0.4) !important;
}
input:focus{
    background-color: rgba(0,0,0,0.2) !important;
    color: white !important;
}